<!--
  <div class="routes">
    <div class="routes" *ngFor="let route of routes">
      <mat-card class="route-card">
        <mat-card-header>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
               <mat-card-content>
          <p class="route-number"> {{route.number}}</p>
          </mat-card-content>
        <mat-card-actions>

          <button mat-icon-button class="mat-icon-button-card-actions">
            <mat-icon><i class="material-icons md-24 grey" aria-hidden="true"
                         (click)="onDeleteSelect(route)">delete</i></mat-icon>
          </button>

          <button mat-icon-button class="mat-icon-button-card-actions">
            <mat-icon><i class="material-icons md-24 grey" aria-hidden="true"
                         (click)="onEditSelect(route)">mode_edit</i></mat-icon>
          </button>

        </mat-card-actions>
      </mat-card>


    </div>
  </div>-->

<button mat-button (click)="createRouteWithHashMap()">
    Create Route Using HashMap
</button>

<mat-chip-list *ngFor="let route of routes" class="mat-chip-list-stacked">
    <mat-chip  selected="true" color="primary">
      {{route.number}}
    </mat-chip>
</mat-chip-list>