<!-- Search button (initiates search) -->
<div>
  <form class="search-form">
     <mat-form-field class="search-form-field">

     <input matInput type="text" placeholder="Search" [(ngModel)]="likeChars" name="value" #name="ngModel"/>

     <button mat-button *ngIf="likeChars" (click)="likeChars=''">
       <mat-icon><i class="material-icons.search">close</i></mat-icon>
     </button>
   </mat-form-field>

    <button mat-button (click)="tryLoadPoints(likeChars)">
      <mat-icon><i class="material-icons.search">search</i></mat-icon>
    </button>
  </form>

  <div>
    <div class="points">
      <div *ngFor="let point of points">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title></mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
          </mat-card-header>

          <img src="../../../assets/ic_store_black_24dp_2x.png"/>
          <mat-card-content>
            {{point.name}}
          </mat-card-content>
          <mat-card-actions>

            <button mat-icon-button class="mat-icon-button-card-actions">
              <mat-icon><i class="material-icons md-24 grey" aria-hidden="true"
                           (click)="onDeleteSelect(point); editSelectedPoint = null">delete</i>
              </mat-icon>
            </button>

            <button mat-icon-button class="mat-icon-button-card-actions">
              <mat-icon><i class="material-icons md-24 grey" aria-hidden="true"
                           (click)="onEditSelect(point); deleteSelectedPoint = null">mode_edit</i>
              </mat-icon>
            </button>

          </mat-card-actions>
        </mat-card>
      </div>
    </div>

    <form class="delete-data-form mat-elevation-z2" *ngIf="editSelectedPoint" (ngSubmit)="tryUpdatePoint()"
          #createForm="ngForm">
      <h2> DETAILS: {{ editSelectedPoint.name | uppercase }} </h2>
      <h3 class="add-point-page-error" [hidden]="error.length == 0">
        {{error}}
      </h3>
      <mat-input-container class="add-point-data-row">
        <input matInput placeholder="The point name" id="name" required
               minlength="{{minPointLenth}}"
               maxlength="{{maxPointLenth}}"
               [(ngModel)]="pointInfo.name"  name="name"
               #name="ngModel">
      </mat-input-container>
      <button class="delete-point-button" type="submit" mat-raised-button color="primary"
              [disabled]="!createForm.form.valid" (click)="!onEditSelect()"> Update point
      </button>
      <button class="delete-point-button" type="submit" mat-raised-button color="primary"
              (click)="!onEditSelect()"> Cancel
      </button>
    </form>

    <form class="delete-data-form mat-elevation-z2" *ngIf="deleteSelectedPoint">
      <h2>DELETE: {{ deleteSelectedPoint.name | uppercase }} </h2>
      <h3 class="add-point-page-error" [hidden]="error.length == 0">
        {{error}}
      </h3>
      <p> Are you sure to delete this point?</p>
      <button class="delete-point-button" type="submit" mat-raised-button color="primary"
              (click)="tryDeletePoint();
                         !onDeleteSelect()"> Delete point
      </button>
      <button class="delete-point-button" type="submit" mat-raised-button color="primary"
              (click)="!onDeleteSelect()"> Cancel
      </button>
    </form>
    <mat-divider></mat-divider>
<div class="add-point-button-position">
     <button mat-icon-button [routerLink]="['./add'] ">
      <mat-icon><i class="material-icons md-48 blue" aria-hidden="true">add_circle</i></mat-icon>
    </button>
  </div>

  </div>

</div>

<div class="form-point">
  <router-outlet></router-outlet>
</div>
<!--

  <mat-paginator class="mat-paginator-container"
    [length]="30"
    [pageSize]="30"
    [pageSizeOptions]="[30, 60]">
  </mat-paginator>
-->







