<div>
  <div class="sort-container">
    <button mat-button mat-raised-button color="primary">
      All transport
    </button>
    <button mat-button mat-raised-button color="primary">
      Buses
    </button>
    <button mat-button mat-raised-button color="primary">
      Trams
    </button>
    <button mat-button mat-raised-button color="primary">
      Trolleybuses
    </button>
  </div>


  <div class="points">
    <div *ngFor="let transport of transports">
      <mat-card class="card">
        <mat-card-header>
          <mat-card-title></mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <div>
          <img src="../../../assets/ic_directions_bus_black_24dp_2x.png" [hidden]="transport.transportType !='BUS'"/>
          <img src="../../../assets/ic_tram_black_24dp_2x.png" [hidden]="transport.transportType !='TRAM'"/>
          <img src="../../../assets/ic_train_black_24dp_2x.png" [hidden]="transport.transportType !='TROLLEYBUS'"/>
          <img src="../../../assets/ic_build_black_24dp_1x.png" height="12" width="12"
               [hidden]="transport.functionality != true"/>
        </div>

        <mat-card-content>
          <p> {{transport.transportType}}</p>
          <p>{{transport.registrationNumber}}</p>

        </mat-card-content>
        <mat-card-actions>

          <button mat-icon-button class="mat-icon-button-card-actions">
            <mat-icon><i class="material-icons md-24 grey" aria-hidden="true"
                         (click)="onDeleteSelect(transport)">delete</i></mat-icon>
          </button>

          <button mat-icon-button class="mat-icon-button-card-actions">
            <mat-icon><i class="material-icons md-24 grey" aria-hidden="true"
                         (click)="onEditSelect(transport)">mode_edit</i></mat-icon>
          </button>

        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <form *ngIf="editSelectedTransport"  #createForm="ngForm">

    <h2> DETAILS: {{ editSelectedTransport.registrationNumber | uppercase }} </h2>
    <h3 class="add-point-page-error" [hidden]="error.length == 0">
      {{error}}
    </h3>
    <mat-input-container class="add-point-data-row">
      <input matInput placeholder="Transport register number" id="registrationNumber" required
             minlength="{{minRegisterNumber}}"
             maxlength="{{maxRegisterNumber}}"
             [(ngModel)]="transportInfo.registrationNumber" name="registrationNumber"
             #name="ngModel">
    </mat-input-container>

    <mat-input-container>
      <mat-select placeholder="Transport type" [formControl]="transportTypeControl" required
                  [(ngModel)]="selectedTransportType" name="transportType">
        <mat-option *ngFor="let transportType of availableTransportTypes" [value]="transportType.value">
          {{ transportType.viewValue }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="transportTypeControl.hasError('required')">Please choose a transport type</mat-error>
    </mat-input-container>

    <mat-input-container>
      <mat-select placeholder="Transport functionality" [(ngModel)]="selectedTransportFunctionality" required
                  true name="functionality">
        <mat-option *ngFor="let functionality of _availableTransportFunctionality" [value]="functionality.value">
          {{ functionality.viewValue }}
        </mat-option>
      </mat-select>
    </mat-input-container>

    <div class="add-point-buttons">
      <button class="add-point-button" type="submit" mat-raised-button color="primary"
              [disabled]="!createForm.form.valid" (click)="tryUpdateTransport(); !onEditSelect()"> Update transport
      </button>
      <button class="add-point-button" type="submit" mat-raised-button color="primary"
              (click)="!onEditSelect()"> Cancel
      </button>
    </div>
  </form>

  <form class="form-delete-transport" *ngIf="deleteSelectedTransport">

    <h2>DELETE: {{ deleteSelectedTransport.registrationNumber | uppercase }} </h2>

    <p> Are you sure to delete this transport?</p>
    <button class="add-point-button" type="submit" mat-raised-button color="primary"
            (click)="tryDeleteTransport(); !onDeleteSelect()"> Delete transport
    </button>
    <button class="add-point-button" type="submit" mat-raised-button color="primary"
            (click)="!onDeleteSelect()"> Cancel
    </button>
  </form>

  <div>
    <div class="mat-icon-button" matTooltip="Add transport">
      <button mat-icon-button [routerLink]="['./add'] ">
        <mat-icon><i class="material-icons md-48 blue" aria-hidden="true">add_circle</i></mat-icon>
      </button>
    </div>
  </div>


  <div class="form-point">
    <router-outlet></router-outlet>
  </div>

</div>
