
.mat-icon-button{
  position: fixed;
  right: 5%;
  bottom: 5%;
}

.add-transport-button-position {
  position: absolute;
  float: right;
  z-index: 10;
}

.form-point {
  position: absolute;
  height:350px;
  width: max-content;
  align-self: center;
  margin-top: 10%;
  margin-left: 30%;
}

.point-content {
  position: absolute;
  width: 81.5%;
  color: #636363;
  font-family: inherit;
}

.material-icons.blue{
  color: #3f51b5;
  font-size: 48px;
}
.material-icons.grey{
  color: lightgrey;
}

.material-icons-text{
  font-size: 10px;
  font-weight: bold;
  color: #3f51b5;
}

.mat-icon-button {
  position: fixed;
  right: 5%;
  bottom: 5%;
}
.search-button {
  display: flex;
  flex-direction: row-reverse;
}
.add-point-button-position {
  position: absolute;
  float: right;
  z-index: 10;
}

.card {
  float: left;
  margin: 10px;
  position: relative;
  width: 100px;
}
.mat-raised-button{
  margin-top: 2%;
  margin-left: 2%;
  width: max-content;
}

.mat-card-actions {
  display: flex;
  flex-direction: row-reverse;
}
.mat-card-content{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: medium;
  font-weight: bold;
  color: #3f51b5;
  text-align: center;
}

.mat-icon-button-card-actions {
  position: relative;
}
.mat-icon-button-card-actions:hover {
  color: red;
}
.sort-container{
  margin-top: 2%;
  position: relative;
  display: flex;
  flex-direction: row;
  width: max-content;
  height: inherit;
}

.form-delete-transport{
  position: page;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: medium;
  font-weight: bold;
  color: #3f51b5;
  text-align: center;
  border-collapse: collapse;
  border-radius: 2px;
  border-spacing: 0px;
  padding: 10px;
  background-color: white;
}
